@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,600,700|Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,600,700");
body {
  overflow-x: hidden; }

h1 {
  color: white; }

h3 {
  color: white; }

p {
  color: white; }

.slider-1, .slider-2, .slider-3, .slider-5, .slider-6, .slider-7, .slider-8 {
  height: 100vh;
  width: 100vw; }

.slider-4 {
  height: 30vh; }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.menu {
  background: #8D0221 !important; }

.menu-1 {
  height: 50px;
  background: #8D0221; }

.btnMenu {
  font-weight: 100;
  font-size: 15px;
  color: white;
  font-family: "Lora", serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: white; }
  .btnMenu:hover {
    color: white;
    text-decoration: underline; }

.sombra {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  width: 100%;
  height: 10px;
  background-color: black;
  z-index: 0; }

#cintillo {
  height: 350px;
  position: fixed;
  z-index: 9999;
  margin-left: 50px; }

.slider-1 {
  background: #700961;
  background-image: url(../img/mesa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center; }

.scene {
  width: 100%;
  height: 100%; }

.btnComprar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  background-color: #288292;
  font-size: 20px;
  border: 2px solid white;
  margin-top: 500px;
  margin-left: 550px;
  font-size: 30px !important;
  border: none;
  position: absolute; }
  .btnComprar:hover {
    color: #288292;
    background-color: white;
    border: 2px solid #288292; }

.colorTexto {
  margin-top: 150px;
  margin-left: 300px; }

.container {
  width: 100%;
  height: 100%; }

.call {
  font-family: "Lora", serif;
  font-size: 50px;
  font-style: bold;
  font-weight: 400;
  line-height: 35px;
  color: white;
  font-weight: 500;
  margin-top: 0px;
  margin-left: 0px;
  text-align: center !important;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  position: absolute; }

#movible {
  margin-top: -50px;
  margin-left: 300px; }

.sipi1 {
  font-size: 60px; }

.sipi2 {
  line-height: 45px;
  font-size: 42px; }

.sipi3 {
  font-size: 33px;
  font-style: italic; }

#imgCuchara {
  margin-top: 400px;
  margin-left: 150px;
  height: 250px; }

#imgPaella {
  margin-top: 150px;
  margin-left: 500px;
  height: 350px; }

#imgCu {
  margin-top: 350px;
  margin-left: 900px;
  height: 250px; }

#imgHoja {
  margin-top: 100px;
  margin-left: 250px;
  height: 150px; }

#imgTazon1 {
  margin-top: 50px;
  margin-left: 950px;
  height: 350px; }

@media only screen and (max-width: 600px) {
  .slider-1 {
    background: #700961;
    background-image: url(../img/mesa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    z-index: 0; }

  #imgPantalla {
    position: absolute;
    width: 500px !important;
    height: 300px !important;
    z-index: 0; }

  .scene {
    width: 100%;
    height: 100%;
    z-index: -1; }

  .btnComprar {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    background-color: #288292;
    font-size: 20px;
    border: 2px solid white;
    margin-top: -105%;
    margin-left: 17%;
    z-index: 9;
    font-size: 25px !important;
    border: none; }
    .btnComprar:hover {
      color: #288292;
      background-color: white;
      border: 2px solid #288292; }

  .container {
    width: 100%;
    height: 100%; }

  #imgMesa {
    margin: 0%; }

  .call {
    font-family: "Lora", serif;
    font-size: 45px;
    font-style: bold;
    font-weight: 400;
    line-height: 35px;
    color: white;
    font-weight: 500;
    margin-top: -110% !important;
    margin-left: 22%;
    z-index: 0;
    text-align: center !important;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    position: absolute; }

  #movible {
    margin-top: -99%;
    margin-left: 12%; }

  .sipi1 {
    font-size: 60px;
    z-index: 2 !important; }

  .sipi2 {
    line-height: 45px;
    font-size: 25px; }

  .sipi3 {
    font-size: 25px;
    font-style: italic; }

  #imgCuchara {
    height: 300px;
    margin-top: 160%;
    margin-left: 40%; }

  #imgPaella {
    margin-left: 10%;
    margin-top: 40%;
    height: 325px;
    z-index: -1; }

  #imgCu {
    margin-left: 300%;
    margin-top: 130%;
    height: 300px; }

  #imgHoja {
    margin-left: 2px;
    margin-top: 570px;
    height: 80px;
    position: absolute; }

  #imgTazon1 {
    margin-left: 240%;
    margin-top: 30%;
    height: 200px;
    display: none; } }
.logos4 {
  border-color: #288292;
  border-right-style: solid;
  height: 350px;
  padding: 30px;
  margin-top: 100px;
  margin-left: 0px; }

.logos5 {
  border: none;
  height: 350px;
  padding: 30px;
  margin-top: 100px;
  margin-left: 0px; }

.tituAzul {
  color: #288292;
  font-weight: bold;
  font-size: 30px; }

.parraf {
  color: #288292;
  text-align: justify;
  font-size: 25px; }

#rana {
  width: 100%;
  position: absolute;
  margin-top: 500px;
  margin-left: 0px; }

.slider-3 {
  background-image: url(../img/arr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2; }

#imgTomate3 {
  margin-left: -10%;
  margin-top: 35%;
  height: 900px;
  z-index: 1; }

#imgTazon {
  height: 550px;
  margin-top: 25%;
  margin-left: 30%;
  z-index: 1; }

.scene2 {
  margin-top: -50%;
  z-index: 1; }

.scene25 {
  margin-top: -30%;
  z-index: 1; }

.descripcion {
  margin-top: 10%;
  margin-left: -10%;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  color: white;
  text-align: justify;
  z-index: 2;
  width: 600px; }

#tenedores {
  width: 50%;
  height: 40%;
  position: absolute;
  margin-top: -1%;
  margin-left: 44%; }

#diamante {
  width: 99%;
  height: 100%;
  position: absolute;
  margin-top: -53%;
  margin-left: -17%; }

#titulo3 {
  margin-left: 46%;
  margin-top: 5%;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: bold;
  font-weight: 300;
  line-height: 35px;
  color: white;
  font-weight: 500 !important;
  z-index: 2; }

.p2 {
  margin-top: 20%; }

@media only screen and (max-width: 600px) {
  .slider-3 {
    background-image: url(../img/arr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2; }

  #imgTomate3 {
    margin-left: -10%;
    margin-top: 35%;
    height: 300px;
    z-index: 1; }

  #imgTazon {
    height: 550px;
    margin-top: 25%;
    margin-left: 30%;
    z-index: 1; }

  .scene2 {
    margin-top: -50%;
    z-index: 1; }

  .scene25 {
    margin-top: -30%;
    z-index: 1; }

  .descripcion {
    margin-top: 10%;
    margin-left: -10%;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
    color: white;
    text-align: justify;
    z-index: 2;
    width: 100px; }

  #tenedores {
    width: 50%;
    height: 40%;
    position: absolute;
    margin-top: -1%;
    margin-left: 44%; }

  #diamante {
    width: 99%;
    height: 100%;
    position: absolute;
    margin-top: -53%;
    margin-left: -17%; }

  #titulo3 {
    margin-left: 46%;
    margin-top: 5%;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: bold;
    font-weight: 300;
    line-height: 35px;
    color: white;
    font-weight: 500 !important;
    z-index: 2; }

  .p2 {
    margin-top: 20%; } }
.slider-4 {
  background-image: url(../img/ab.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

#videoPaella {
  filter: drop-shadow(0px 30px 30px black);
  margin-top: 30px;
  margin-left: -300px;
  z-index: 999;
  position: fixed; }

#inscripcion {
  font-family: "Lora", serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: white;
  text-align: center; }

.inscripcionDiv {
  margin-top: 85%;
  margin-left: 13%;
  position: fixed;
  width: 400px; }

.giro {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.scene3 {
  width: 100%;
  height: 100%; }

#imgCucharaArroz {
  height: 500px;
  margin-top: 100px;
  margin-left: -800px;
  position: absolute; }

#zanahoria {
  height: 350px;
  margin-top: 100px;
  margin-left: 550px; }

.slider-5 {
  background-image: url(../img/arr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.btnBases {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #288292;
  background-color: white;
  font-size: 20px;
  border: 2px solid #288292;
  margin-top: 0px;
  margin-left: 550px;
  font-size: 40px;
  padding: 5px 50px 5px 50px; }
  .btnBases:hover {
    color: white;
    background-color: #288292;
    border: 2px solid white; }

.scene4 {
  height: 100vh;
  width: 100vw; }

#premios {
  width: 80%;
  height: 80%;
  margin-top: -80px;
  margin-left: 150px; }

#podium {
  margin-top: -150px;
  margin-left: 325px;
  height: 350px; }

.raritoRow {
  align-content: center; }

.slider-6 {
  background-color: #EBE9E6; }

.logos2 {
  border-color: #288292;
  border-right-style: solid;
  height: 350px;
  padding: 30px;
  margin-top: 250px;
  margin-left: 0px; }

.logos3 {
  border: none;
  height: 350px;
  padding: 30px;
  margin-top: 250px;
  margin-left: 0px; }

.tituAzul {
  color: #288292;
  font-weight: bold;
  font-size: 30px; }

.parraf {
  color: #288292;
  text-align: justify;
  font-size: 25px; }

.imgArriba {
  margin-top: -8%; }

#camaronAzul {
  margin-top: 600px;
  margin-left: 140px;
  width: 80%;
  position: absolute; }

.slider-7 {
  background-color: #e9e6e2; }

#sec-2, #sec-6 {
  background-color: white !important; }

#titulo7 {
  color: #288292;
  width: 100vw; }

.rowTitulo7 {
  margin-top: 25px;
  margin-left: 0px; }

.row7 {
  width: 100%; }

.bui {
  height: 100%; }

.meson {
  height: 100%; }

.mundo {
  height: 100%; }

.monte {
  height: 250%;
  position: relative;
  margin-top: -10%; }

.boletia {
  height: 90%; }

.floyd {
  height: 150%;
  margin-top: -5%; }

.heineken {
  height: 100%;
  position: relative;
  margin-top: -4%; }

.jokker {
  height: 100%; }

.opalo {
  height: 85%;
  position: relative;
  margin-top: 2%; }

.valquirico {
  height: 120%;
  position: relative;
  margin-top: -5%; }

.logos {
  border-color: transparent;
  border-style: solid;
  height: 100px;
  padding: 10px; }

.cosas {
  display: inline-block;
  margin-left: 6%; }

#cosa10 {
  width: 30%; }

#cosa11 {
  width: 30%;
  margin-left: -1.5%; }

.slider-8 {
  background-color: white; }

#map {
  height: 100%;
  width: 102%;
  margin-left: -15px; }

.finalita {
  width: 90%; }

.info {
  color: #288292;
  text-align: center;
  font-size: 25px; }

.btnComprar2 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  background-color: #288292;
  font-size: 20px;
  border: 2px solid white;
  font-size: 30px !important;
  border: none; }
  .btnComprar2:hover {
    color: #288292;
    background-color: white;
    border: 2px solid #288292; }

.contenedor {
  position: absolute;
  margin-top: 15%;
  margin-left: -15px; }

.iconos {
  font-size: 50px;
  color: #288292;
  cursor: pointer; }

.fa-facebook-square:hover {
  color: #3b5998; }

.fa-instagram:hover {
  background-size: 15px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.titulin {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  color: #288292; }

.subtitulin {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  color: #288292; }

.parrafin {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  color: black; }

.listilla {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  color: black; }

.cuerpo {
  background-color: #EBE9E6; }

.span {
  color: #288292; }

/*# sourceMappingURL=app.css.map */
