body{
	color:#fff;
}

p{
	color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

.testo{
	z-index: 2;
}

.menu-1{
	height: 60px;
	background: #444;
}
.slider-1, .slider-2, .slider-3, .slider-4{
	height: 100vh;
	text-align: center;
}
.slider-1{
	background: #700961;
	background-image: url(../img/mesa.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	align-content: center;
}
.slider-2{
	background-image: url(../img/nada.png);
	background: pink;
	z-index: 4;
}
.slider-3{
	background: #e03e36;
}
.slider-4{
	background: #ff7c38;
}
.footer{
	background: #444;
	color:#fff;
	text-align: center;
	padding: 10px;
}

.scene{
	width: 100%;
	z-index: 0;
}

.container{
	width: 100%;
	height: 100%;
}

#imgMesa{}


#imgPaella{
	margin-left: 0%;
	margin-top: 10%;
	z-index: -1;
}

#imgHoja{
	margin-left: 00%;
	margin-top: 50%;
}

#imgTomate{
	margin-left: 300%;
	margin-top: 20%;
}

