@import "../mixins"

.menu-1
	height: 100px
	background: transparent
	margin-top: 5px

.btnMenu
	+Lora(white, normal, 30px)
	&:hover
		color: white
		text-decoration: underline

/*.sombra
	-webkit-filter: blur(5px)
	-moz-filter: blur(5px)
	-o-filter: blur(5px)
	-ms-filter: blur(5px)
	filter: blur(5px)
	width: 100%
	height: 15px
	background-color: black
	display: float
	margin-left: -15px

/*.sombra2
	-webkit-filter: blur(5px)
	-moz-filter: blur(5px)
	-o-filter: blur(5px)
	-ms-filter: blur(5px)
	filter: blur(5px)
	width: 120%
	height: 15px
	background-color: black
	display: float
	margin-left: -15px
	margin-top: -10px 
	

#logoBlanco
	height: 150px
	margin-top: 50px


	

.footer
	background: #444
	color: #fff
	text-align: center
	padding: 10px
