body 
    overflow-x: hidden !important
h1
    color: white

h3
    color: white
p
    color: white

.slider-1, .slider-2, .slider-3, .slider-4, .slider-5, .slider-6, .slider-7, .slider-8, 
    height: 100vh
    width: 100vw



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
