
.slider-1
	background: #700961
	background-image: url(../img/mesa.jpg)
	background-repeat: no-repeat
	background-size: cover
	align-content: center
	
	
.scene
	width: 100%
	height: 100%
	
	
.btnComprar
	+btnBoletia(10px,white,$azul,$azul,white)
	+margin-tl(500px,550px)
	font-size: 30px !important
	border: none
	position: absolute
	
.colorTexto
	+margin-tl(150px,300px)


.container
	width: 100%
	height: 100%


.call
	+Lora(white,bold,50px)
	font-weight: 500
	//+Lora(white, normal, 50px) 
	margin-top: 0px
	margin-left: 0px
	text-align: center !important
	text-shadow: 2px 2px rgba(0,0,0, 0.2)
	position: absolute

#movible
	+margin-tl(-50px,300px)
	
.sipi1
	font-size: 60px
	
.sipi2
	line-height: 45px
	font-size: 42px

.sipi3
	font-size: 33px
	font-style: italic
	

#imgCuchara
	+margin-tl(400px,150px)
	height: 250px
	
#imgPaella
	+margin-tl(150px,500px)
	height: 350px

	
#imgCu
	+margin-tl(350px,900px)
	height: 250px
	
#imgHoja
	+margin-tl(100px,250px)
	height: 150px

#imgTazon1
	+margin-tl(50px,950px)
	height: 350px
	
	

@media only screen and (max-width: 600px) 
	.slider-1
		background: #700961
		background-image: url(../img/mesa.jpg)
		background-repeat: no-repeat
		background-size: cover
		align-content: center
		z-index: 0

	#imgPantalla
		position: absolute
		width: 500px !important
		height: 300px !important
		z-index: 0

	.scene
		width: 100%
		height: 100%
		z-index: -1

	.btnComprar
		+btnBoletia(10px,white,$azul,$azul,white)
		margin-top: -105%
		margin-left: 17%
		z-index: 9
		font-size: 25px !important
		border: none
		

	.container
		width: 100%
		height: 100%


	#imgMesa
		margin: 0%

	.call
		+Lora(white,bold,45px)
		font-weight: 500
		//+Lora(white, normal, 50px) 
		margin-top: -110% !important
		margin-left: 22%
		z-index: 0
		text-align: center !important
		text-shadow: 2px 2px rgba(0,0,0, 0.2)
		position: absolute

	#movible
		margin-top: -99%
		margin-left: 12%
		
		
		
		
	.sipi1
		font-size: 60px
		z-index: 2 !important

	.sipi2
		line-height: 45px
		font-size: 25px
		
	

	.sipi3
		font-size: 25px
		font-style: italic
		



	#imgCuchara
		height: 300px
		margin-top: 160%
		margin-left: 40%
		
		

	#imgPaella
		margin-left: 10%
		margin-top: 40%
		height: 325px
		z-index: -1
		

	#imgCu
		margin-left: 300%
		margin-top: 130%
		height: 300px
		

	#imgHoja
		margin-left: 2px
		margin-top: 570px
		height: 80px
		position: absolute


	#imgTazon1
		margin-left: 240%
		margin-top: 30%
		height: 200px
		display: none