
.slider-1
	background: #700961
	background-image: url(../img/mesa.jpg)
	background-repeat: no-repeat
	background-size: 100%
	background-attachment: fixed
	align-content: center


.scene
	width: 100%
	height: 100%


.container
	width: 100%
	height: 100%


#imgMesa
	margin: 0%

#imgCuchara
	height: 250px
	margin-top: 160%
	margin-left: 80%
	
	

#imgPaella
	margin-left: 30%
	margin-top: 10%
	height: 500px
	


#imgHoja
	margin-left: 00%
	margin-top: 50%


#imgTomate
	margin-left: 950%
	margin-top: 0%
	height: 250px
	


.textito
	margin-top: -50%
	height: 100vh
	width: 100%
	position: relative
	z-index: 2
	text-align: center
	align-content: center
	+Roboto(white, normal, 30px)

.fondocolor
	background-color: rgba(0,0,0,0.5)
	width: 600px
	font-size: 30px
	opacity: 1
	padding: 15px
	color: white
	width: 100%
	position: relative
