
.slider-4
	background-image: url(../img/fondoAbajo.jpg)

.scene4
	height: 100vh

.p4
	margin-top: 50px
	margin-left: 10%

.p41
	margin-top: 100px
	margin-left: 10%

#titulo4
	margin-left: 50%
	margin-top: 35%
	width: 100vw

.premios
	+Lora(white, normal, 25px)
	


