.slider-3
	background-image: url(../img/fondoAbajo.jpg)

#imgTomate3
	margin-left: 10%
	margin-top: 50%
	height: 1000px
	z-index: 0

.scene2
	margin-top: -50%

.descripcion
	margin-top: 10%
	margin-left: -10%
	+Lora(white, normal, 25px)
	text-align: center
	z-index: 1
	

#titulo3
	margin-left: 30%
	margin-top: 8%
	width: 100vw
