
.slider-7
    background-color: #e9e6e2
    //filter: drop-shadow(0px 0px 50px black)
    z-index: -1
    flex-wrap: wrap

#sec-2,#sec-6
    background-color: white !important

#titulo7
    color: $azul
    width: 100vw

.row7
    width: 100%

.bui
    height: 100%

.meson
    height: 100%

.mundo
    height: 100%

.monte
    height: 250%
    position: relative
    margin-top: -10%

.boletia
    height: 90%

.floyd
    height: 150%
    margin-top: -5%

.heineken
    height: 100%
    position: relative
    margin-top: -4%

.jokker
    height: 100%

.opalo
    height: 85%
    position: relative
    margin-top: 2%


.valquirico
    height: 120%
    position: relative
    margin-top: -5%
    
.logos
    border-color: transparent
    border-style: solid
    height: 100px
    padding: 10px

.cosas
    display: inline-block
    margin-left: 6%
   
#cosa10 
    width: 30%

#cosa11
    width: 30%
    margin-left: -1.5%
  
