
.slider-6
    background-color: #EBE9E6
    
.logos2
    border-color: $azul
    border-right-style: solid
    height: 350px
    padding: 30px
    +margin-tl(250px,0px)

.logos3
    border: none
    height: 350px
    padding: 30px
    +margin-tl(250px,0px)

.tituAzul
    color: $azul
    font-weight: bold
    font-size: 30px

.parraf
    color: $azul
    text-align: justify
    font-size: 25px

.imgArriba
    margin-top: -8%

#camaronAzul
    +margin-tl(600px,140px)
    width: 80%
    position: absolute
    

