
.slider-5
	background-image: url(../img/ab.jpg)
	background-repeat: no-repeat
	background-size: cover
	z-index: 0

.btnBases
	+btnBoletia(10px,$azul,white,white,$azul)
	margin-top: 5%
	margin-left: 41%
	font-size: 25px
	z-index: 0


.scene4
	height: 100vh
	width: 100vw
	

#podium
	margin-top: 50%
	margin-left: 25%
	height: 450px
	position: relative

#zanahoria
	height: 500px
	margin-top: -20%
	z-index: 99999
	position: absolute
	right: -200px


