
.slider-4
	background-image: url(../img/ab.jpg)
	background-repeat: no-repeat
	background-size: cover
	-webkit-transform: rotate(180deg)
	transform: rotate(180deg)
	z-index: 0

#videoPaella
	filter: drop-shadow(0px 30px 30px black)
	position: fixed
	margin-top: 45%
	margin-left: -8%
	z-index: 999

#inscripcion
	+Lora(white, normal, 35px)
	text-align: center

.inscripcionDiv
	margin-top: 85%
	margin-left: 13%
	position: fixed
	width: 400px

.giro
	-webkit-transform: rotate(180deg)
	transform: rotate(180deg)


.scene3
	width: 600px
	height: 100vh



#imgCucharaArroz
	height: 500px
	margin-top: 65%
	margin-left: -95%
	z-index: 3
	position: fixed
	
#zanahoria
	height: 500px
	margin-top: 40%
	margin-left: 110%
	position: absolute






	


