
.slider-1
	background: #700961
	background-image: url(../img/mesa.jpg)
	background-repeat: no-repeat
	background-size: 100%
	background-attachment: fixed
	align-content: center
	z-index: 0


.scene
	width: 100%
	height: 100%
	z-index: -1

.btnComprar
	+btnBoletia(10px,white,$azul,$azul,white)
	margin-top: -40%
	margin-left: 40%
	z-index: 9
	

.botonCompra
	z-index: 9
	

.container
	width: 100%
	height: 100%


#imgMesa
	margin: 0%

#call
	+Lora(white, normal, 50px) 
	margin-top: -30%
	margin-left: 20%
	z-index: 0
	text-align: center !important
	text-shadow: 2px 2px black
	position: absolute

#imgCuchara
	height: 300px
	margin-top: 160%
	margin-left: 40%
	
	

#imgPaella
	margin-left: 30%
	margin-top: 10%
	height: 550px
	

#imgCu
	margin-left: 300%
	margin-top: 130%
	height: 300px
	

#imgHoja
	margin-left: 20%
	margin-top: 50%
	height: 200px


#imgTazon1
	margin-left: 240%
	margin-top: 30%
	height: 450px
	

.textito
	margin-top: -50%
	height: 100vh
	width: 100%
	position: relative
	z-index: 2
	text-align: center
	align-content: center
	+Roboto(white, normal, 30px)

