
.slider-coso
    background-color: #e9e6e2

.logos4
    border-color: $azul
    border-right-style: solid
    height: 350px
    padding: 30px
    +margin-tl(100px,0px)

.logos5
    border: none
    height: 350px
    padding: 30px
    +margin-tl(100px,0px)

.tituAzul
    color: $azul
    font-weight: bold
    font-size: 30px

.parraf
    color: $azul
    text-align: justify
    font-size: 25px

#rana
    width: 100%
    height: 250px
    position: relative
    bottom: -2px
    //+margin-tl(500px,0px)

@media only screen and (max-width: 600px)         
    .logos4
        border-color: $azul
        border-right-style: solid
        height: 350px
        padding: 30px
        +margin-tl(100px,0px)

    .logos5
        border: none
        height: 350px
        padding: 30px
        +margin-tl(100px,0px)

    .tituAzul
        color: $azul
        font-weight: bold
        font-size: 30px

    .parraf
        color: $azul
        text-align: justify
        font-size: 25px

    #rana
        width: 100%
        height: 100px
        position: relative
        bottom: -2px

